<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Meta Manifesto - Crie seu pr&oacute;prio manifesto</title>
  <link rel="stylesheet" href="/base.css" type="text/css" media="screen" charset="utf-8" />

</head>
<body>
  <div id="main">
  <div id="header"><a href="/"><img src="/logo.png"></a></div>
	<div id="slogan">Publique seu manifesto e expresse sua indigna&ccedil;&atilde;o na Web.</div>
  <div id="manifesto">
  <center><H1> EM BREVE: ACESSE MAIS TARDE</H1></center>
  <br><br>
  <center><H3> Uma besteira no ar <span style="color:red">mais que</span> uma beleza em development.</H3></center>
  </div>
  </div>
</body>
</html>
